body {
  background-color:white;
}

#test {
  text-align: center;
  position: absolute;
  width: 60%;
  height: 80%;
  top: 10%;
  margin-left: 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: white;
  border-radius: 30px;
}

#btn:hover {
  background-color: #ecf0f1;
}

#test #header {
  text-align: center;
  width: 100%;
  color: teal;
  font-size: 120px;
  margin-top: 15%;
}

@media (max-width: 500px) {
  #test {
    background-color:white;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 0px;
  }

  #test #header {
    text-align: center;
    font-size: 95px;
    margin-top: 45%;
    margin-left:-25%;
  }
}
